<div id="<%= dom_id order %>">
  <p>
    <strong>Orderid:</strong>
    <%= order.orderid %>
  </p>

  <p>
    <strong>Customername:</strong>
    <%= order.customername %>
  </p>

  <p>
    <strong>Numberofseat:</strong>
    <%= order.numberofseat %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
